
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Share+Tech&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto'; 
  --yellow: #FFDD18; 
  font-weight: 300;
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
}

button {
  background-color: var(--yellow);
  border: none;
  padding: 17px;
  font-family: 'Roboto';
  font-weight: 500;
  width: fit-content;
  user-select: none;
  transition: 0.25s background-color;
}

button:hover {
  background-color: #f0d32c;
  transition: 0.25s background-color;
}

/*
button:i {
  background-color: #d9bf2d;
}
*/