
.firstPage {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: max(30%, 300px);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 20%;
    font-family: 'Share Tech'; 
    color: white;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 5em;
    line-height: 0.6;
}

.title p {
    font-size: 2.5em;
}

.missionPhoto {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 30%; 
    color: transparent;
    background-image: url('../public/photos/mission.jpeg');
    background-position: center;
    background-size: cover;
}

.mission {
    background-color: #FFDD18;
    padding: 70px;
    position: absolute;
    top: 60%;
    left: max(60%, 50ch);
    transform: translate(-50%, -50%);
    width: min(60ch, 40%);
    line-height: 1.6;
    max-height: 80%;
}

.mission div {
    font-size: 1.6em;
    margin-bottom: 0.25em;
    font-family: 'Share Tech';
}

.imgParagraphContainer {
    width: 100%;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgAndParagraph {
    display: flex;
    flex-direction: row;
    width: min(1000px, 80%);
    margin-bottom: 5vh;
    justify-content: space-between;
    align-items: center;
}

.imgAndParagraph img {
    width: 35%;
    height: fit-content;
    box-shadow: 5px 5px var(--yellow);
}

.imgAndParagraph div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgAndParagraph div div {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Share Tech';
}

.getInvolved {
    width: 100%;
    text-align: center;
    margin-top: 14vh;
    font-family: 'Share Tech';
    font-size: 2.5em;
}

.getInvolved span {
    z-index: 20;
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 20px;
}

.getInvolvedContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 12vh;
    margin-left: 10%;
    justify-content: space-around;
    align-items: center;
}

.getInvolvedCard {
    width: 30ch;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.getInvolvedCard div {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-family: 'Share Tech';
}

.getInvolvedCard p {
    text-align: center;
    height: 8em;
}

.linePleaseEndThis {
    position: relative;
    left: 10vw;
    top: calc(-0.5em - 3px - 20px);
    height: 3px;
    width: 80vw; 
    background-color: #ddd;
    border-radius: 1px;
    z-index: 10;
}

@media (max-width: 850px) {

    .missionPhoto {
        width: 100% !important;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        height: 100%;
    }

    .mission {
        width: calc(100% - 140px);
        left: 0;
        top: 100%;
        transform: translate(0, -100%);
        height: fit-content;
        max-height: none;
    }

    .getInvolvedContainer {
        flex-direction: column;
    }

    .getInvolvedCard { 
        margin-bottom: 5vh;
    }
}

.sponsorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsorContainer img {
    width: 30%;
}
